# Python Bytecode and cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments
env/
venv/
.venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
